.questionsContainer {
  max-width: 650px;
  margin: 20px auto;
  color: rgba(6, 13, 24, 1);
  padding: 20px;
  border-radius: 8px;
}

.question {
  color: #2a2a2a;
  margin-bottom: 10px;
}

.answer {
  color: #4a4a4a;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .questionsContainer {
    margin: 20px auto;
    padding: 10px;
  }
}
